<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
		xmlns:f="http://xmlns.jcp.org/jsf/core"
		xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
		xmlns:pf="http://primefaces.org/ui">
<h:body role="document">
	<ui:composition template="../templates/main.xhtml">

		<ui:define name="metadata">
			<f:metadata>
				<f:viewAction action="${dashboardController.load}"/>
			</f:metadata>
		</ui:define>

		<ui:define name="title">${localized.titleDashboard}</ui:define>

		<ui:define name="content">
			<div class="page-header">
				<div class="media">
					<div class="media-left">
						<h:graphicImage alt="${localized.altProfilePicture}" url="#{userAction.gravatarRequest}" />
					</div>
					<div class="media-body media-bottom">
						<h1 class="media-heading">
							${identity.account.loginName} <small>${localized.titleDashboard}</small>
						</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<h:form>
						<h:panelGroup id="recentHarvestersList">
							<h2>${localized.labelHarvesterRecentlyFinished} <span class="badge">${dashboardController.listRecentlyFinishedHarvesters().size()}</span></h2>
							<ui:repeat var="harv" value="${dashboardController.listRecentlyFinishedHarvesters()}">
								<ui:include src="../templates/harvesterpanel.xhtml" />
							</ui:repeat>
						</h:panelGroup>
						<h:panelGroup id="runningHarvestersList">
							<h2>${localized.labelHarvesterCurrentlyRunning} <span class="badge">${dashboardController.listRunningHarvesters().size()}</span></h2>
							<ui:repeat var="harv" value="${dashboardController.listRunningHarvesters()}">
								<ui:include src="../templates/harvesterpanel.xhtml" />
							</ui:repeat>
						</h:panelGroup>
						<h:panelGroup id="scheduledHarvestersList">
							<h2>${localized.labelHarvesterScheduled} <span class="badge">${dashboardController.listScheduledHarvesters().size()}</span></h2>
							<ui:repeat var="harv" value="${dashboardController.listScheduledHarvesters()}">
								<ui:include src="../templates/harvesterpanel.xhtml" />
							</ui:repeat>
						</h:panelGroup>
						<pf:poll interval="2" update="recentHarvestersList runningHarvestersList scheduledHarvestersList" listener="#{dashboardController.refresh}"/>
					</h:form>
				</div>
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading">${localized.infoMiscPanelHeaderStatistics}</div>
						<ul class="list-group">
							<li class="list-group-item">
								${localized.labelHarvesterOwned}<span class="badge">${dashboardController.countUserHarvesters()}</span>
							</li>
							<li class="list-group-item">
								${localized.labelRepositoryOwned}<span class="badge">${repositoryController.countUserRepositories()}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>