<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:body role="document">
	<ui:composition template="../templates/main.xhtml">

		<ui:define name="metadata">
			<f:metadata>
				<f:viewParam name="id" value="#{repositoryAction.id}" />
				<f:viewAction action="#{repositoryAction.load}" />
			</f:metadata>
		</ui:define>

		<ui:define name="title">${localized[repository.id eq null ? 'buttonRepositoryNew' : "titleRepositoryEdit"]}</ui:define>

		<ui:define name="content">
			<div class="page-header">
				<h1>${localized.titleRepositorySingular} <ui:fragment rendered="${repository.id eq null}"><span class="label label-success">${localized.buttonMiscNew}</span></ui:fragment></h1>
			</div>

			<div class="row">
				<div class="col-md-8">
					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button id="buttonInspire" class="btn btn-info" data-toggle="modal" data-target="#inspireHarvesters"><i class="fa fa-cloud-download fa-fw" /> Import Inspire Harvester...</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
					<h:form styleClass="form-horizontal" id="formRepositoryEdit">

						<h:messages styleClass="list-unstyled" errorClass="alert alert-danger" infoClass="alert alert-success" warnClass="alert alert-warning" p:role="alert" />

						<div class="form-group">
							<label for="selectRepositoryType" class="col-sm-3 control-label">${localized.inputRepositoryType}</label>
							<div class="col-sm-6">
								<h:selectOneMenu styleClass="form-control" value="#{repository.repositoryType}" id="selectRepositoryType">
									<f:selectItems value="#{repositoryController.repositoryTypes}" var="repositoryType" itemValue="#{repositoryType}" itemLabel="${repositoryType.label}"/>
								</h:selectOneMenu>
							</div>
						</div>
						<div class="form-group">
							<label for="inputName" class="col-sm-3 control-label">${localized.inputMiscName}</label>
							<div class="col-sm-9">
								<h:inputText requiredMessage="${localized.msgRequiredMiscName}" value="#{repository.name}" p:placeholder="${localized.inputMiscName}" required="true" styleClass="form-control"
									p:type="text" id="inputName" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputDescription" class="col-sm-3 control-label">${localized.inputMiscDescription}</label>
							<div class="col-sm-9">
								<h:inputTextarea value="#{repository.description}" required="false" styleClass="form-control" id="inputDescription" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputUrl" class="col-sm-3 control-label">${localized.inputMiscUrl}</label>
							<div class="col-sm-9">
								<h:inputText requiredMessage="${localized.msgRequiredRepositoryUrl}" value="#{repository.url}" p:placeholder="${localized.inputMiscUrl}" required="true"
									styleClass="form-control" p:type="url" id="inputUrl" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputIncremental" class="col-sm-3 control-label">${localized.inputRepositoryIncremental}</label>
							<div class="col-sm-9">
								<div class="checkbox">
									<label>
										<h:selectBooleanCheckbox value="#{repository.incremental}" p:type="checkbox" id="inputIncremental" />
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputCountry" class="col-sm-3 control-label">${localized.inputRepositorySpatial}</label>
							<div class="col-sm-9">
								<h:selectManyListbox id="inputCountry" p:id="inputCountry" styleClass="form-control" value="#{repositoryAction.spatial}">
									<f:selectItems value="#{repositoryAction.countries}" />
								</h:selectManyListbox>
								<script type="text/javascript">
								    $(document).ready(function() {
								        $('#inputCountry').multiselect({
								            inheritClass: true,
								            maxHeight: 400,
								            nonSelectedText: '${localized.inputMiscSelectionNone}',
								            nSelectedText: '${localized.inputMiscSelectionNumber}',
								            enableFiltering: true,
								            enableCaseInsensitiveFiltering: true,
								            filterPlaceholder: '${localized.placeholderSearchFor}'
								        });
								    });
								</script>
							</div>
						</div>
						<div class="form-group">
							<label for="inputLanguage" class="col-sm-3 control-label">${localized.inputMiscDefaultLanguage}</label>
							<div class="col-sm-9">
								<h:selectOneMenu id="inputLanguage" requiredMessage="${localized.msgRequiredRepositoryLanguage}" required="true" styleClass="form-control" value="#{repository.language}">
									<f:selectItems value="#{repositoryAction.languages}" var="language" itemValue="#{language}" itemLabel="${language.displayName}" />
								</h:selectOneMenu>
							</div>
						</div>
						<div class="form-group">
							<label for="inputVisibility" class="col-sm-3 control-label">${localized.visibility}</label>
							<div class="col-sm-9">
								<h:selectOneRadio id="inputVisibility" styleClass="inlineRadioButtons table-condensed" value="#{repository.visibility}">
									<f:selectItems value="#{repositoryAction.visibilities}" var="visibility" itemValue="#{visibility}" itemLabel="${localized['visibility' += visibility.label]}" />
								</h:selectOneRadio>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPublisher" class="col-sm-3 control-label">${localized.inputRepositoryPublisher}</label>
							<div class="col-sm-9">
								<h:inputText requiredMessage="${localized.msgRequiredRepositoryPublisher}" value="#{repository.publisher}" p:placeholder="${localized.inputRepositoryPublisher}" required="true"
									styleClass="form-control" id="inputPublisher" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputPublisherEmail" class="col-sm-3 control-label">${localized.inputRepositoryPublisherEmail}</label>
							<div class="col-sm-9">
								<h:inputText value="#{repository.publisherEmail}" p:placeholder="${localized.inputRepositoryPublisherEmail}" p:type="email" styleClass="form-control" id="inputPublisherEmail" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputHomepage" class="col-sm-3 control-label">${localized.inputMiscHomepage}</label>
							<div class="col-sm-9">
								<h:inputText value="#{repository.homepage}" p:placeholder="${localized.inputMiscHomepage}" styleClass="form-control" p:type="url" id="inputHomepage" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-2">
								<h:commandButton id="buttonNewCreate" value="${repository.id eq null ? localized.buttonMiscCreate : localized.buttonMiscApply}" action="#{repositoryAction.save}" styleClass="btn btn-primary" />
							</div>
							<div class="col-sm-2">
								<h:commandButton id="buttonDelete" rendered="#{repository.id ne null}" value="${localized.buttonMiscDelete}" action="#{repositoryAction.delete}" styleClass="btn btn-danger" />
							</div>
						</div>
					</h:form>
				</div>
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading">${localized.infoMiscPanelHeaderInformation}</div>
						<div class="panel-body">
							<h:outputText value="${localized.infoPanelRepository}" escape="false" />
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="inspireHarvesters" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Inspire Adapter - Available Harvesters</h4>
						</div>
						<div class="modal-body">
							<h:form>
								<div class="btn-group" data-toggle="buttons">
									<ui:repeat var="inspireType" value="#{repositoryAction.inspireTypeNames}" varStatus="loop">
										<label class="btn btn-info active">
											<h:selectBooleanCheckbox value="#{repositoryAction.inspireTypeValues[loop.index]}">
												${inspireType}
												<f:ajax render="@form" event="change" />
											</h:selectBooleanCheckbox>
											<span class="badge">#{repositoryAction.countSelectedTypes(inspireType)}</span>
										</label>
									</ui:repeat>
								</div>
								<p/>
								<h:panelGroup id="hinfos">
									<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
										<ui:repeat var="insphar" value="#{repositoryAction.inspireHarvesters}">
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="${'heading'.concat(insphar.id)}">
													<h4 class="panel-title">
														<a role="button" data-toggle="collapse" data-parent="#accordion" href="#${'collapse'.concat(insphar.id)}" aria-expanded="true" aria-controls="${'collapse'.concat(insphar.id)}">
															${insphar.name}
														</a><small>${' '.concat(insphar.id)}</small>
													</h4>
												</div>
												<div id="${'collapse'.concat(insphar.id)}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="${'heading'.concat(insphar.id)}">
													<div class="panel-body">
														<div class="form-group">
															<label class="control-label">Adapter Endpoint</label>
															<a href="${insphar.endpoint}">
																<p class="form-control-static">${insphar.endpoint}</p>
															</a>
														</div>
														<div class="form-group">
															<label class="control-label">Service URL</label>
															<a href="${insphar.url}">
																<p class="form-control-static">${insphar.url}</p>
															</a>
														</div>
														<div class="form-group">
															<div>
																<p class="form-control-static"><span class="glyphicon ${insphar.selective ? 'text-success glyphicon-ok' : 'text-warning glyphicon-remove'}" /> ${insphar.selective ? 'Selective' : 'Not selective'}</p>
															</div>
														</div>
														<h:commandLink value="Apply" styleClass="btn btn-primary" p:data-dismiss="modal" action="#{repositoryAction.applyInspireHarvester(insphar)}" />
													</div>
												</div>
											</div>
										</ui:repeat>
									</div>
								</h:panelGroup>
							</h:form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

		</ui:define>
	</ui:composition>
</h:body>
</html>