<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:body role="document">
	<ui:composition template="../templates/main.xhtml">

		<ui:define name="title">${localized.titleLogin}</ui:define>

		<ui:define name="content">

			<div class="page-header">
				<div class="media">
					<div class="media-left" style="font-size:250%;">
						<i class="fa fa-user fa-2x" />
					</div>
					<div class="media-body media-bottom">
						<h1 class="media-heading">
							${localized.titleLogin}
						</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
						<h:form styleClass="form-horizontal" id="formLoginInput">
							<h:messages styleClass="list-unstyled" errorClass="alert alert-danger" infoClass="alert alert-success" warnClass="alert alert-warning" p:role="alert" />
							<ui:fragment rendered="${not identity.loggedIn}">
								<div class="form-group">
									<label for="inputAccountName" class="col-sm-3 control-label">${localized.inputProfileUsername}</label>
									<div class="col-sm-9">
										<h:inputText value="#{loginCredentials.userId}" p:placeholder="${localized.inputProfileUsername}" required="true" requiredMessage="${localized.msgRequiredMiscUserName}" styleClass="form-control" p:type="text" id="inputAccountName" />
									</div>
								</div>
								<div class="form-group">
									<label for="inputAccountPassword" class="col-sm-3 control-label">${localized.inputMiscPassword}</label>
									<div class="col-sm-9">
										<h:inputSecret value="#{loginCredentials.password}" p:placeholder="${localized.inputMiscPassword}" required="true" requiredMessage="${localized.msgRequiredMiscPassword}" styleClass="form-control" p:type="password" id="inputAccountPassword" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<h:commandButton id="loginSubmit" styleClass="btn btn-success" value="${localized.linkProfileLogin}" action="#{userAction.login()}" />
									</div>
								</div>
							</ui:fragment>
							<ui:fragment rendered="${identity.loggedIn}">
								<i class="fa fa-info fa-lg fa-pull-left" /> ${localized.msgInfoUserAlreadyLoggedIn} ${identity.account.loginName}
							</ui:fragment>
						</h:form>
				</div>

				<div class="col-md-4">
					<div class="panel panel-info">
						<ui:fragment rendered="${not identity.loggedIn}">
							<div class="panel-heading">${localized.infoMiscPanelHeaderInformation}</div>
							<div class="panel-body">
								<h:outputText value="${localized.infoDescriptionProfileLogin}"
											  escape="false" />
							</div>
							<div class="panel-footer">
								<a href="../public/registration.xhtml">${localized.linkProfileLoginAccountNoExists}</a>
							</div>
						</ui:fragment>
					</div>
				</div>

			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
