<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:body role="document">
	<ui:composition template="../templates/main.xhtml">

		<ui:define name="title">${localized.titleProfile}</ui:define>

		<ui:define name="content">
			<div class="page-header">
				<div class="media">
					<div class="media-left">
						<h:graphicImage alt="${localized.altProfilePicture}" url="#{userAction.gravatarRequest}" />
					</div>
					<div class="media-body media-bottom">
						<h1 class="media-heading">
							${identity.account.loginName} <small>${localized.titleProfile}</small>
						</h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
					<h:form styleClass="form-horizontal" id="formProfileInput">

						<h:messages styleClass="list-unstyled" errorClass="alert alert-danger" infoClass="alert alert-success" warnClass="alert alert-warning" p:role="alert" />

						<div class="form-group">
							<label for="inputUsername" class="col-sm-3 control-label">${localized.inputProfileUsername}</label>
							<div class="col-sm-9">
								<h:inputText disabled="true" value="#{userAction.username}" required="true" styleClass="form-control" id="inputUsername" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputFirstName" class="col-sm-3 control-label">${localized.inputProfileFirstname}</label>
							<div class="col-sm-9">
								<h:inputText value="#{userAction.firstName}"  p:placeholder="${localized.inputProfileFirstname}" styleClass="form-control" p:type="text" id="inputFirstName" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputSurname" class="col-sm-3 control-label">${localized.inputProfileLastname}</label>
							<div class="col-sm-9">
								<h:inputText value="#{userAction.lastName}" p:placeholder="${localized.inputProfileLastname}" styleClass="form-control" p:type="text" id="inputSurname" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputOrganisation" class="col-sm-3 control-label">${localized.inputProfileOrganisation}</label>
							<div class="col-sm-9">
								<h:inputText p:placeholder="${localized.inputProfileOrganisation}" styleClass="form-control" p:type="text" id="inputOrganisation" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail" class="col-sm-3 control-label">${localized.inputProfileEmail}</label>
							<div class="col-sm-9">
								<h:inputText value="#{userAction.email}" p:placeholder="${localized.inputProfileEmail}" styleClass="form-control" required="true" p:type="email" id="inputEmail" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputDescription" class="col-sm-3 control-label">${localized.inputMiscDescription}</label>
							<div class="col-sm-9">
								<h:inputTextarea required="false" styleClass="form-control" id="inputDescription" />
							</div>
						</div>
						<div class="collapse" id="collapseMore">
							<div class="form-group">
								<label for="inputPassword" class="col-sm-3 control-label">${localized.inputMiscPassword}</label>
								<div class="col-sm-9">
									<h:inputSecret value="#{userAction.password}" p:placeholder="${localized.inputPassword}" styleClass="form-control" p:type="password" id="inputPassword" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputConfirmPassword" class="col-sm-3 control-label">${localized.inputMiscConfirmPassword}</label>
								<div class="col-sm-9">
									<h:inputSecret value="#{userAction.confirmedPassword}" p:placeholder="${localized.inputConfirmPassword}" styleClass="form-control" p:type="password" id="inputConfirmPassword" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<h:commandButton value="${localized.buttonMiscApply}" action="#{userAction.save()}" styleClass="btn btn-primary" id="buttonApply" />
								<span style="margin-left:10px;" />
								<a class="btn btn-info" role="button" id="buttonExpandPassword" data-toggle="collapse" href="#collapseMore" aria-expanded="false" aria-controls="collapseMore">${localized.buttonProfilePasswordChange}</a>
                                <span style="margin-left: 10px;" />
                                <h:commandButton disabled="true" value="${localized.buttonProfileRemoveAccount}" action="#{userAction.removeUser}" styleClass="btn btn-danger" id="buttonRemove"/>
                            </div>
						</div>
					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>