<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
	<div class="panel">
		<div class="panel-heading" style="padding:0px;">
			<h:link rendered="${harv.owner eq identity.account.id}" styleClass="btn #{harv.visibility == 'public_visibility' ? 'btn-primary' : 'btn-info'}" style="display:block;" outcome="/public/showharvester?faces-redirect=true">
				<f:param name="id" value="#{harv.id}" />
				<div class="row">
					<div class="col-sm-6 text-left">
						<i class="fa ${harvesterAction.isRunning(harv) ? 'fa-refresh fa-spin' : 'fa-power-off'}" /> ${harv.name}
					</div>
					<div class="col-sm-3 text-right">
						<i class="fa fa-user" /> ${userManager.getUser(harv.owner).loginName}
					</div>
					<div class="col-sm-3 text-right">
						<i class="fa #{harv.visibility == 'public_visibility' ? 'fa-share' : 'fa-lock'}" /> ${localized['visibility' += harv.visibility.label]}
					</div>
				</div>
			</h:link>
		</div>
		<div class="panel-body">
			${harv.description}
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-2 text-left">
					<span>${localized['harvestFrequency' += harv.frequency.label]} </span>
					<ui:fragment rendered="${harv.source.incremental}">
						<i class="fa fa-filter" title="${localized.inputIncremental}" />
					</ui:fragment>
				</div>
				<div class="col-sm-7">
					<ui:fragment rendered="${harv.frequency ne 'manually'}">
						<span class="text-warning">${localized.nextRun}: ${harv.readableTimeStamp}</span>
					</ui:fragment>
				</div>
				<div class="col-sm-3 text-right">
					<ui:fragment rendered="${(harv.source ne null) and (harv.target ne null)}">
						<h:link id="buttonHarvesterShow" outcome="/user/editharvester?faces-redirect=true">
							<f:param name="id" value="#{harv.id}" />
							<i class="fa fa-edit" />
						</h:link>
					</ui:fragment>
				</div>
			</div>
		</div>
	</div>
</html>