<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
	<h:form>
		<ul class="nav navbar-nav navbar-right">

			<ui:fragment rendered="${not identity.loggedIn}">
				<li id="menuLogin" class="${request.servletPath == '/user/login' ? 'active' : ''}">
					<h:link outcome="/user/login?faces-redirect=true">
						<i class="fa fa-sign-in fa-fw" aria-hidden="true" /> ${localized.linkProfileLogin}
					</h:link>

				</li>

				<!-- 			<li class="${request.servletPath == '/public/registration' ? 'active' : ''}"><h:commandLink value="${localized.linkRegistration}" action="/public/registration?faces-redirect=true" /></li>  -->
			</ui:fragment>

			<ui:fragment rendered="${identity.loggedIn}">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw" aria-hidden="true" /> ${identity.account.loginName} <span class="caret" /></a>
					<ul class="dropdown-menu">
						<li id="menuDashboard">
							<h:link outcome="/user/dashboard?faces-redirect=true"><i class="fa fa-dashboard fa-fw" aria-hidden="true" /> ${localized.titleDashboard}</h:link>
						</li>
						<ui:fragment rendered="${request.isUserInRole('Administrator')}">
							<li id="menuSchedulings">
								<h:link outcome="/protected/schedulings?faces-redirect=true"><i class="fa fa-clock-o fa-fw" aria-hidden="true" /> ${localized.schedulingsTitle}</h:link>
							</li>
							<li id="menuUsers" aria-disabled="true">
								<h:link outcome="/protected/users?faces-redirect=true"><i class="fa fa-users fa-fw" aria-hidden="true" /> User Management</h:link>
							</li>
						</ui:fragment>
						<li id="menuProfile">
							<h:link outcome="/user/profile?faces-redirect=true"><i class="fa fa-user fa-fw" aria-hidden="true" /> ${localized.titleProfile}</h:link>
						</li>
						<li role="separator" class="divider" />
						<li id="menuLogout">
							<a href="../logout"><i class="fa fa-sign-out fa-fw" aria-hidden="true" /> ${localized.linkProfileLogout}</a>
						</li>
					</ul>
				</li>
			</ui:fragment>

			<li id="menuHelp" class="${request.servletPath == '/public/help.xhtml' ? 'active' : ''}">
				<h:link outcome="/public/help?faces-redirect=true">
					<i class="fa fa-graduation-cap fa-fw" aria-hidden="true" /> ${localized.titleHelp}
				</h:link>
			</li>

			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-language fa-fw" aria-hidden="true" /> ${appLocalization.language} <span class="caret" /></a>
				<ul class="dropdown-menu">
        		    <li><h:commandLink value="${appLocalization.languageName('de')}" action="#{appLocalization.changeLanguage('de')}" /></li>
        		    <li><h:commandLink value="${appLocalization.languageName('en')}" action="#{appLocalization.changeLanguage('en')}" /></li>
        		    <li><h:commandLink value="${appLocalization.languageName('es')}" action="#{appLocalization.changeLanguage('es')}" /></li>
        		    <li><h:commandLink value="${appLocalization.languageName('fr')}" action="#{appLocalization.changeLanguage('fr')}" /></li>
        		    <li><h:commandLink value="${appLocalization.languageName('it')}" action="#{appLocalization.changeLanguage('it')}" /></li>
        		    <li><h:commandLink value="${appLocalization.languageName('pl')}" action="#{appLocalization.changeLanguage('pl')}" /></li>
		    	</ul>
        	</li>
       	</ul>
	</h:form>
</html>