<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<f:view locale="#{appLocalization.localeCode}">

	<ui:insert name="metadata" />

	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="" />
		<meta name="author" content="Fraunhofer FOKUS Digital Public Services" />

		<title><ui:insert name="title">Metadata Transformer Service</ui:insert></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- HighCharts for displaying fancy statistics
		<script src="http://code.highcharts.com/highcharts.js"></script>
		-->

		<link rel="stylesheet" href="../resources/css/font-awesome.min.css" />

		<!-- Latest compiled and minified CSS -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" /> -->
		<h:outputStylesheet library="css" name="bootstrap.min.css" />

		<h:outputStylesheet library="css" name="stickyfooter.css" />

		<link rel="icon" href="../resources/images/favicon.png" />

		<h:outputScript library="scripts" name="moment-with-locales.min.js" />
		<h:outputScript library="scripts" name="bootstrap-datetimepicker.min.js" />
		<h:outputScript library="scripts" name="bootstrap-multiselect.js" />

		<h:outputStylesheet library="css" name="bootstrap-datetimepicker.min.css" />
		<h:outputStylesheet library="css" name="bootstrap-multiselect.css" />

	</h:head>
	<h:body role="document">

		<f:loadBundle basename="de.fhg.fokus.odp.harvester.messages.Messages" var="localized" />

		<!-- Fixed navbar -->1
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar" /> <span class="icon-bar" /> <span
							class="icon-bar" />
					</button>
					<a class="navbar-brand" href="${identity.loggedIn ? '../public/home.xhtml' : 'home.xhtml'}"> <h:graphicImage id="logo"
																	  library="images" name="EDP_ICON.png" alt="${localized.altMainLogo}" height="36"
																	  p:style="margin-top:-8px;" />
					</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">

					<ul class="nav navbar-nav">
						<li	id="menuRepository" class="${request.servletPath == '/public/repositories.xhtml' ? 'active' : ''}">
							<h:link outcome="/public/repositories?faces-redirect=true">${localized.titleRepositoryPlural}</h:link>
						</li>
						<li id="menuHarvester" class="${request.servletPath == '/public/harvesters.xhtml' ? 'active' : ''}">
							<h:link outcome="/public/harvesters?faces-redirect=true">${localized.titleHarvesterPlural}</h:link>
						</li>
					</ul>

					<ui:include src="../templates/loginmenu.xhtml" />
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container" role="main">
			<ui:insert name="content">Content</ui:insert>
		</div>

		<footer class="footer">
			<div class="container text-center">
				<p class="text-muted">
					© Fraunhofer FOKUS 2016
				</p>
			</div>
		</footer>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</h:body>
</f:view>
</html>
