<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
	<div class="panel">
			<div class="panel-heading" style="padding:0px;">
				<h:link rendered="${repo.owner eq identity.account.id}" styleClass="btn #{repo.visibility == 'public_visibility' ? 'btn-primary' : 'btn-info'}" style="display:block;" outcome="/user/editrepository?faces-redirect=true">
					<f:param name="id" value="#{repo.id}" />
					<div class="row">
						<div title="${repo.name}" class="col-sm-6 text-left" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
							<img src="https://www.google.com/s2/favicons?domain_url=#{empty repo.homepage ? repo.url : repo.homepage}" />
							<span style="vertical-align: middle;"> ${repo.name}</span>
						</div>
						<div class="col-sm-3 text-right" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
							<i class="fa fa-user" /> ${userManager.getUser(repo.owner).loginName}
						</div>
						<div class="col-sm-3 text-right">
							<i class="fa ${repo.visibility == 'public_visibility' ? 'fa-share' : 'fa-lock'}" /> ${localized['visibility' += repo.visibility.label]}
						</div>
					</div>
				</h:link>
			</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					${repo.description}
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-4 text-primary">
					<div title="${empty repo.homepage ? repo.url : repo.homepage}" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle;">
						<a target="_blank" href="${empty repo.homepage ? repo.url : repo.homepage}"><i class="fa fa-globe" /> ${empty repo.homepage ? repo.url : repo.homepage}</a>
					</div>
				</div>
				<div class="col-sm-3 text-info text-right">
					<ui:fragment rendered="${not empty repo.harvesterSource}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-download" /> ${localized.menuRepositoryImportInstances} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<ui:repeat var="harv" value="${repo.harvesterSource}">
								<li>
									<h:link value="${harv.name}" outcome="/public/showharvester?faces-redirect=true">
										<f:param name="id" value="#{harv.id}" />
									</h:link>
								</li>
							</ui:repeat>
						</ul>
					</ui:fragment>
					<ui:fragment rendered="${empty repo.harvesterSource}">
						<span class="text-muted"><i class="fa fa-download" /> ${localized.menuRepositoryImportInstances} <span class="caret"></span></span>
					</ui:fragment>
				</div>
				<div class="col-sm-3 text-info text-right">
					<ui:fragment rendered="${not empty repo.harvesterTarget}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-upload" /> ${localized.menuRepositoryExportInstances} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<ui:repeat var="harv" value="${repo.harvesterTarget}">
								<li>
									<h:link value="${harv.name}" outcome="/public/showharvester?faces-redirect=true">
										<f:param name="id" value="#{harv.id}" />
									</h:link>
								</li>
							</ui:repeat>
						</ul>
					</ui:fragment>
					<ui:fragment rendered="${empty repo.harvesterTarget}">
						<span class="text-muted"><i class="fa fa-upload" /> ${localized.menuRepositoryExportInstances} <span class="caret"></span></span>
					</ui:fragment>
				</div>
				<div class="col-sm-2 text-right">
					<div class="label label-default">
						${repo.repositoryType.label}
					</div>
				</div>
			</div>
		</div>
	</div>
</html>