<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:body role="document">
	<ui:composition template="../templates/main.xhtml">

		<ui:define name="metadata">
			<f:metadata>
				<f:viewParam name="offset" value="#{harvesterController.offset}" />
				<f:viewAction action="#{harvesterController.load}" />
			</f:metadata>
		</ui:define>

		<ui:define name="title">MTS - ${localized.schedulingsTitle}</ui:define>

		<ui:define name="content">

			<div class="page-header">
				<h1>
					${localized.schedulingsTitle} <span class="badge">${harvesterController.total}</span>
				</h1>
			</div>

			<h:form id="anyForm">
				<table class="table">
					<thead>
						<tr class="warning">
							<th>
								<h:commandLink styleClass="btn btn-xs btn-default" action="${harvesterController.sortAlphabetically()}">
									<i class="fa ${harvesterController.sort == 2  ? 'fa-sort-alpha-desc' : 'fa-sort-alpha-asc'}" />
									<f:ajax render="@form" />
								</h:commandLink>
							</th>
							<th />
							<th>
								<h:commandLink styleClass="btn btn-xs btn-default" action="${harvesterController.sortAlphabetically()}">
									<i class="fa ${harvesterController.sort == 2 ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc'}" />
									<f:ajax render="@form" />
								</h:commandLink>
							</th>
							<th>
								<h:commandLink styleClass="btn btn-xs btn-default" action="${harvesterController.sortSchedule()}">
									<i class="fa ${harvesterController.sort == 4 ? 'fa-sort-numeric-desc' : 'fa-sort-numeric-asc'}" />
									<f:ajax render="@form" />
								</h:commandLink>
							</th>
							<th />
						</tr>
					</thead>
					<ui:repeat var="harvester" value="${harvesterController.allHarvesters}">
						<tr>
							<td>#{harvester.name}</td>
							<td>#{harvester.description}</td>
							<td>#{harvester.frequency.label}</td>
							<td>#{harvester.nextHarvestDate}</td>
							<td>
								<div class="pull-right">
									<h:link styleClass="text-warning" outcome="/user/editharvester?faces-redirect=true">
										<f:param name="id" value="#{harvester.id}" />
										<i class="fa fa-edit" aria-hidden="true" />
									</h:link>
								</div>
							</td>
						</tr>
					</ui:repeat>
				</table>
			</h:form>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>