<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
		xmlns:f="http://xmlns.jcp.org/jsf/core"
		xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
		xmlns:pf="http://primefaces.org/ui">
<h:body role="document">
	<ui:composition template="../templates/main.xhtml">

		<ui:define name="metadata">
			<f:metadata>
				<f:viewAction action="${userController.load}"/>
			</f:metadata>
		</ui:define>

		<ui:define name="title">MTS - ${localized.titleUserManagement}</ui:define>

		<ui:define name="content">
			<div class="page-header">
				<h1>
					<i class="fa fa-users" /> ${localized.titleUserManagement}
				</h1>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h:form>
						<h:messages styleClass="list-unstyled"
									errorClass="alert alert-danger" infoClass="alert alert-success"
									warnClass="alert alert-warning" p:role="alert" />

							<div class="row">
								<div class="col-md-8">
									<ul class="list-group">
										<ui:repeat value="${userController.users}" var="user">
											<li class="list-group-item">
												<i class="fa fa-user" /> ${user.loginName}
												<h:commandLink action="${userController.deleteUser(user)}">
													<i class="fa fa-user-times" />
													<f:ajax render="@form" />
												</h:commandLink>
											</li>
										</ui:repeat>
									</ul>
								</div>
								<div class="col-md-4">
								</div>
							</div>
							<p/>
					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>