<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
        xmlns:hf="http://highfaces.org">

    <script src="https://code.highcharts.com"></script>

    <h:body role="document">
        <ui:composition template="../templates/main.xhtml">

            <ui:define name="title">${localized.linkMiscVisualizeStats}</ui:define>

            <ui:define name="content">
                <div class="page-header">
                    <h1>${localized.placeholderWIP}</h1>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>