<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:body role="document">
	<ui:composition template="../templates/main.xhtml">

		<ui:define name="metadata">
			<f:metadata>
				<f:viewParam name="offset" value="#{harvesterController.offset}" />
				<f:viewAction action="#{harvesterController.load}" />
			</f:metadata>
		</ui:define>

		<ui:define name="title">${localized.titleHarvesterPlural}</ui:define>

		<ui:define name="content">
			<div class="page-header">
				<h1>
					${localized.titleHarvesterPlural} <span class="badge"><h:outputText id="counterbadge" value="${harvesterController.total}" /></span>
				</h1>
			</div>
			<div class="row">
				<h:form id="formHarvesterList" enctype="multipart/form-data">
					<div class="col-md-8">
						<div class="well">
							<div class="input-group">
								<div class="input-group-btn" data-toggle="buttons">
									<label class="btn btn-default ${harvesterController.errorsOnly ? 'active' : ''} form-control" title="${localized.inputHarvesterErrorsOnly}">
										<h:selectBooleanCheckbox id="buttonErrorsOnly" p:id="buttonErrorsOnly" value="#{harvesterController.errorsOnly}" p:autocomplete="off">
											<i class="text-danger fa fa-minus-circle" />
											<f:ajax render="harvesterList counterbadge" />
										</h:selectBooleanCheckbox>
									</label>
								</div>
								<h:inputText styleClass="form-control" id="inputSearchBar" p:placeholder="${localized.placeholderSearchFor}" value="#{harvesterController.searchTerm}" />
								<div class="input-group-btn">
									<h:commandButton id="buttonSearch" value="Go" styleClass="btn btn-info form-control" action="#{harvesterController.search}">
										<i class="fa fa-search" />
									</h:commandButton>
								</div>
							</div>
						</div>
						<ui:fragment rendered="${identity.loggedIn}">
							<h:link id="buttonCreate" styleClass="btn btn-success" outcome="/user/editharvester?faces-redirect=true">
								<i class="fa fa-plus" /> ${localized.buttonHarvesterNew}
							</h:link>

							<span style="margin-left: 10px;" />

							<h:outputLabel for="buttonFileUpload" class="btn btn-default btn-file" >
								<i class="fa fa-cloud-upload" /> ${localized.buttonHarvesterUpload}
							</h:outputLabel>
							<h:inputFile id="buttonFileUpload" value="#{harvesterAction.importedHarvesterFile}" validator="#{harvesterAction.validateHarvesterFile}" style="display: none">
								<f:ajax listener="#{harvesterAction.handleHarvesterFileImport}" />
							</h:inputFile>
						</ui:fragment>
						<h:panelGroup id="harvesterList">
							<nav>
								<ul class="pager">
									<li class="previous ${harvesterController.offset == 0 ? 'disabled' : ''}">
										<h:commandLink disabled="#{harvesterController.offset == 0}" action="#{harvesterController.previousPage}" p:aria-label="Previous">
											<i aria-hidden="true" class="fa fa-chevron-left" />
											<f:ajax render="harvesterList" />
										</h:commandLink>
									</li>
									<ui:fragment rendered="${harvesterController.rows > 0}">
										<span class="badge">${harvesterController.offset + 1} - ${harvesterController.offset + harvesterController.rows} / ${harvesterController.total}</span>
									</ui:fragment>
									<li class="next ${(harvesterController.offset + harvesterController.rows) >= harvesterController.total ? 'disabled' : ''}">
										<h:commandLink disabled="#{(harvesterController.offset + harvesterController.rows) >= harvesterController.total}" action="#{harvesterController.nextPage}" p:aria-label="Next">
											<i aria-hidden="true" class="fa fa-chevron-right" />
											<f:ajax render="harvesterList" />
										</h:commandLink>
									</li>
								</ul>
							</nav>
							<ui:repeat var="harv" value="#{harvesterController.harvesters}">
								<ui:include src="../templates/harvesterpanel.xhtml" />
							</ui:repeat>
							<nav>
								<ul class="pager">
									<li class="previous ${harvesterController.offset == 0 ? 'disabled' : ''}">
										<h:commandLink disabled="#{harvesterController.offset == 0}" action="#{harvesterController.previousPage}" p:aria-label="Previous">
											<i aria-hidden="true" class="fa fa-chevron-left" />
											<f:ajax render="harvesterList" />
										</h:commandLink>
									</li>
									<ui:fragment rendered="${harvesterController.rows > 0}">
										<span class="badge">${harvesterController.offset + 1} - ${harvesterController.offset + harvesterController.rows} / ${harvesterController.total}</span>
									</ui:fragment>
									<li class="next ${(harvesterController.offset + harvesterController.rows) >= harvesterController.total ? 'disabled' : ''}">
										<h:commandLink disabled="#{(harvesterController.offset + harvesterController.rows) >= harvesterController.total}" action="#{harvesterController.nextPage}" p:aria-label="Next">
											<i aria-hidden="true" class="fa fa-chevron-right" />
											<f:ajax render="harvesterList" />
										</h:commandLink>
									</li>
								</ul>
							</nav>
						</h:panelGroup>
					</div>
					<div class="col-md-4">
						<div class="panel panel-info">
							<div class="panel-heading">${localized.infoMiscPanelHeaderStatistics}</div>
							<div class="panel-body">
								${localized.placeholderWIP}
							</div>
							<h:link outcome="harvestersstats">
							<div class="panel-footer">
								${localized.linkMiscVisualizeStats}
							</div>
							</h:link>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="collapsed" role="button" data-toggle="collapse" href="#collapseFrequencies" aria-expanded="false" aria-controls="collapseFrequencies">Frequency Filter</a>
							</div>
							<div id="collapseFrequencies" class="panel-collapse collapse">
								<div class="list-group">
									<ui:repeat value="${harvesterController.frequencies}" var="frequency">
										<h:commandLink styleClass="list-group-item ${harvesterController.isFrequencySelected(frequency) ? 'active' : ''}" action="${harvesterController.toggleFrequency(frequency)}">
											${localized['harvestFrequency' += frequency.label]} <span class="badge">${harvesterController.getFrequencyCounter(frequency)}</span>
											<f:ajax render="@this :formHarvesterList:harvesterList" />
										</h:commandLink>
									</ui:repeat>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="collapsed" role="button" data-toggle="collapse" href="#collapseTypes" aria-expanded="false" aria-controls="collapseTypes">Source Type Filter</a>
							</div>
							<div id="collapseTypes" class="panel-collapse collapse">
								<div class="list-group">
									<ui:repeat value="${harvesterController.repositoryTypes}" var="type">
										<h:commandLink styleClass="list-group-item ${harvesterController.isTypeSelected(type) ? 'active' : ''}" action="${harvesterController.toggleSourceType(type)}">
											${type.label} <span class="badge">${harvesterController.getTypeCounter(type)}</span>
											<f:ajax render="@this :formHarvesterList:harvesterList" />
										</h:commandLink>
									</ui:repeat>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="collapsed" role="button" data-toggle="collapse" href="#collapseCountries" aria-expanded="false" aria-controls="collapseCountries">Country Filter</a>
							</div>
							<div id="collapseCountries" class="panel-collapse collapse">
								<div class="list-group" >
									<ui:repeat value="${harvesterController.countries}" var="country">
										<h:commandLink styleClass="list-group-item ${harvesterController.isCountrySelected(country) ? 'active' : ''}" action="${harvesterController.toggleCountry(country)}">
											${country} <span class="badge">${harvesterController.getCountryCounter(country)}</span>
											<f:ajax render="@this :formHarvesterList:harvesterList" />
										</h:commandLink>
									</ui:repeat>
								</div>
							</div>
						</div>
					</div>
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
