<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:body role="document">
	<ui:composition template="../templates/main.xhtml">

		<ui:define name="title">${localized.titleMain}</ui:define>

		<ui:define name="content">
			<div class="jumbotron">
				<h:graphicImage library="images" name="EDP_LOGO.png"  height="200" alt="${localized.altMainLogo}" />
				<h1>${localized.titleMain}</h1>
				<p class="lead">${localized.infoDescriptionMain}</p>
			</div>
		</ui:define>

	</ui:composition>
</h:body>
</html>