<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body role="document">
        <ui:composition template="../templates/main.xhtml">

            <ui:define name="metadata">
                <f:metadata>
                    <f:viewParam name="id" value="#{logAction.id}" required="true" />
                    <f:viewAction action="#{logAction.load}" />
                </f:metadata>
            </ui:define>

            <ui:define name="title">${localized.titleLogShow}</ui:define>

            <ui:define name="content">
                <div class="page-header">
                    <h1>Log</h1>
                </div>
                <div class="row">
                    <div class="col-md-4 text-left">
                        <h2 class="${log.severity == 'error' ? 'text-danger' : log.severity == 'warning' ? 'text-warning' : 'text-info'}"><span class="glyphicon glyphicon-minus-sign" style="vertical-align: middle;" /><span class="text-capitalize" style="vertical-align: middle;"> ${localized['severity' += log.severity.label]}</span></h2>
                    </div>
                    <div class="col-md-4 text-center">
                        <h2 class="text-info">
                            <span class="vertical-align: middle;">
                                <small>
                                    <h:outputText value="${log.created}">
                                        <f:convertDateTime type="both" timeZone="${appLocalization.timeZone}" locale="#{appLocalization.localeCode}" />
                                    </h:outputText>
                                </small>
                            </span>
                        </h2>
                    </div>
                    <div class="col-md-4 text-right">
                        <h2 class="text-info">
                            <span class="vertical-align: middle;">
                                ${localized['serviceStage' += log.serviceStage.label]}
                            </span>
                        </h2>
                    </div>
                </div>
                <hr/>
                <p class="lead">${log.message}</p>
                <ui:fragment rendered="${not empty log.attachment}">
                    <div class="alert ${log.severity == 'error' ? 'alert-danger' : log.severity == 'warning' ? 'alert-warning' : 'alert-info'}">
                        <pre id="editor" style="height:600px;">${log.attachment}</pre>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js" />
                        <script>
                            var editor = ace.edit("editor");
                            editor.setTheme("ace/theme/tomorrow_night_blue");
                            editor.getSession().setMode("ace/mode/" + #{logAction.format});
                            editor.getSession().setUseWrapMode(true);
                            editor.setReadOnly(true);
                        </script>
                    </div>
                </ui:fragment>
            </ui:define>

        </ui:composition>
    </h:body>
</html>