<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:body role="document">
	<ui:composition template="../templates/main.xhtml">

		<ui:define name="metadata">
			<f:metadata>
				<f:viewParam name="offset" value="#{repositoryController.offset}" />
				<f:viewAction action="#{repositoryController.load}" />
			</f:metadata>
		</ui:define>

		<ui:define name="title">${localized.titleRepositoryPlural}</ui:define>

		<ui:define name="content">
			<h:form id="formRepositoryList" enctype="multipart/form-data">
				<div class="page-header">
					<h1>${localized.titleRepositoryPlural} <span class="badge"><h:outputText id="counterbadge" value="${repositoryController.total}" /></span></h1>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="well">
							<div class="input-group">
								<div class="input-group-btn">
									<h:selectManyListbox p:id="repositoryTypeSelection" styleClass="form-control" value="#{repositoryController.selectedRepositoryTypes}" >
										<f:selectItems value="#{repositoryController.repositoryTypes}" var="repositoryType" itemValue="#{repositoryType}" itemLabel="${repositoryType.label}" />
										<f:ajax render="repositoryList counterbadge" />
									</h:selectManyListbox>
									<script type="text/javascript">
										$(document).ready(function() {
											$('#repositoryTypeSelection').multiselect({
												inheritClass: true,
												includeSelectAllOption: true,
												maxHeight: 400,
												selectAllText: '${localized.inputMiscSelectAll}',
												nonSelectedText: '${localized.inputRepositoryType}',
												nSelectedText: '${localized.inputMiscSelectionNumber}',
												allSelectedText: '${localized.inputRepositoryTypeAll}'
											});
										});
									</script>
								</div>
								<h:inputText id="inputSearch" styleClass="form-control" p:placeholder="${localized.placeholderSearchFor}" value="#{repositoryController.searchTerm}" />
								<div class="input-group-btn">
									<h:commandButton id="buttonSearch" value="Go" styleClass="btn btn-info form-control" action="#{repositoryController.search}">
										<i class="fa fa-search" />
									</h:commandButton>
								</div>
							</div>
						</div>
						<ui:fragment rendered="${identity.loggedIn}">
							<h:link id="buttonCreate" styleClass="btn btn-success" outcome="/user/editrepository?faces-redirect=true"><span class="fa fa-plus" /> ${localized.buttonRepositoryNew}</h:link>
						</ui:fragment>
						<h:panelGroup id="repositoryList">
							<nav>
								<ul class="pager">
									<li class="previous ${repositoryController.offset == 0 ? 'disabled' : ''}">
										<h:commandLink disabled="#{repositoryController.offset == 0}" action="#{repositoryController.previousPage}" p:aria-label="Previous">
											<i aria-hidden="true" class="fa fa-chevron-left" />
											<f:ajax render="repositoryList" />
										</h:commandLink>
									</li>
									<ui:fragment rendered="${repositoryController.rows > 0}">
										<span class="badge">${repositoryController.offset + 1} - ${repositoryController.offset + repositoryController.rows} / ${repositoryController.total}</span>
									</ui:fragment>
									<li class="next ${(repositoryController.offset + repositoryController.rows) >= repositoryController.total ? 'disabled' : ''}">
										<h:commandLink disabled="#{(repositoryController.offset + repositoryController.rows) >= repositoryController.total}" action="#{repositoryController.nextPage}" p:aria-label="Next">
											<i aria-hidden="true" class="fa fa-chevron-right" />
											<f:ajax render="repositoryList" />
										</h:commandLink>
									</li>
								</ul>
							</nav>
							<ui:repeat var="repo" value="#{repositoryController.repositories}">
								<ui:include src="../templates/repositorypanel.xhtml" />
							</ui:repeat>
							<nav>
								<ul class="pager">
									<li class="previous ${repositoryController.offset == 0 ? 'disabled' : ''}">
										<h:commandLink disabled="#{repositoryController.offset == 0}" action="#{repositoryController.previousPage}" p:aria-label="Previous">
											<i aria-hidden="true" class="fa fa-chevron-left" />
											<f:ajax render="repositoryList" />
										</h:commandLink>
									</li>
									<ui:fragment rendered="${repositoryController.rows > 0}">
										<span class="badge">${repositoryController.offset + 1} - ${repositoryController.offset + repositoryController.rows} / ${repositoryController.total}</span>
									</ui:fragment>
									<li class="next ${(repositoryController.offset + repositoryController.rows) >= repositoryController.total ? 'disabled' : ''}">
										<h:commandLink disabled="#{(repositoryController.offset + repositoryController.rows) >= repositoryController.total}" action="#{repositoryController.nextPage}" p:aria-label="Next">
											<i aria-hidden="true" class="fa fa-chevron-right" />
											<f:ajax render="repositoryList" />
										</h:commandLink>
									</li>
								</ul>
							</nav>
						</h:panelGroup>
					</div>
					<div class="col-md-4">
						<div class="panel panel-info">
							<div class="panel-heading">${localized.infoMiscPanelHeaderStatistics}</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-6">
										<p>${localized.labelRepositoryMostUsed}</p>
									</div>
									<div class="col-sm-6 text-right">
										<p>${repositoryController.mostUsedRepository}</p>
									</div>
								</div>
							</div>
							<h:link outcome="repositoriesstats">
							<div class="panel-footer">
								${localized.linkMiscVisualizeStats}
							</div>
							</h:link>
						</div>
					</div>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>