<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:hf="http://highfaces.org">

    <script src="https://code.highcharts.com"></script>

    <h:body role="document">
        <ui:composition template="../templates/main.xhtml">
            <ui:define name="metadata">
                <f:metadata>
                    <f:viewParam name="id" value="#{harvesterAction.id}" />
                    <f:viewAction action="#{harvesterAction.load}" />
                </f:metadata>
            </ui:define>

            <ui:define name="title">${localized.linkMiscVisualizeStats}</ui:define>

            <ui:define name="content">
                <div class="page-header">
                    <!--
                    <h1>#{harvesterAction.harvester.name} Run Statistics</h1>
                    -->
                    <h1>${localized.placeholderWIP}</h1>
                </div>


                <h:form>
                    <div class="row">
                        <div class="col-md-6">

                            <hf:chart type="line" value="#{runController.chartTest()}" var="point"
                                      point="#{point}" title="List of Integer values" xaxisLabel="Index" yaxisLabel="Amount"/>

                            </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>
    </h:body>
</html>