<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:hf="http://highfaces.org" xmlns:pf="http://primefaces.org/ui">
<h:body role="document">
    <ui:composition template="../templates/main.xhtml">

        <ui:define name="metadata">
            <f:metadata>
                <f:viewParam name="id" value="${harvesterAction.id}" />
                <f:viewAction action="${harvesterAction.load}"/>
            </f:metadata>
        </ui:define>

        <ui:define name="title">${localized.titleHarvesterShow}</ui:define>

        <ui:define name="content">
            <div class="page-header">
                <h1>
                    ${harvester.name}
                    <small>${localized.titleHarvesterSingular}</small>
                </h1>
            </div>

            <h:form styleClass="form-horizontal" id="formPoll">
                <div class="row">
                    <div class="col-md-8">
                        <ui:fragment rendered="#{not empty harvester.description}">
                            <div class="well">${harvester.description}</div>
                        </ui:fragment>

                        <div class="panel">
                            <div class="panel-heading" style="padding:0px;">
                                <h:link styleClass="btn ${harvester.source.visibility == 'public_visibility' ? 'btn-primary' : 'btn-info'}" style="display:block;" outcome="/user/editrepository?faces-redirect=true">
                                    <f:param name="id" value="#{harvester.source.id}" />
                                    <div class="row">
                                        <div title="${harvester.source.name}" class="col-sm-6 text-left" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            <img src="https://www.google.com/s2/favicons?domain_url=${empty harvester.source.homepage ? harvester.source.url : harvester.source.homepage}"/>
                                            <span style="vertical-align: middle; margin-left: 5px;"> ${harvester.source.name}</span>
                                        </div>
                                        <div class="col-sm-3 text-right" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            <i class="fa fa-user fa-fw"/>
                                            <span> ${userManager.getUser(harvester.source.owner).loginName}</span>
                                        </div>
                                        <div class="col-sm-3 text-right">
                                            <i class="fa fa-fw ${harvester.source.visibility == 'public_visibility' ? 'fa-share' : 'fa-lock'}"/>
                                            ${localized['visibility' += harvester.source.visibility.label]}
                                        </div>
                                    </div>
                                </h:link>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-10">${harvester.source.description}</div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-10 text-primary">
                                        <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
											<i class="fa fa-globe fa-fw"/>
                                            <a target="_blank" href="${empty harvester.source.homepage ? harvester.source.url : harvester.source.homepage}">
    											${empty harvester.source.homepage ? harvester.source.url : harvester.source.homepage}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <p class="lead">
                                <span style="vertical-align:middle;" class="label label-default">${harvester.source.repositoryType.label}</span>
                                <i style="vertical-align:middle; margin-left: 10px; margin-right: 10px;" class="fa fa-random"/>
                                <span style="vertical-align:middle;" class="label label-default">${harvester.target.repositoryType.label}</span>
                            </p>
                        </div>

                        <div class="panel">
                            <div class="panel-heading" style="padding:0px;">
                                <h:link rendered="${harvester.target.owner == identity.account.id}" styleClass="btn ${harvester.target.visibility == 'public_visibility' ? 'btn-primary' : 'btn-info'}" style="display:block;" outcome="/user/editrepository?faces-redirect=true">
                                    <f:param name="id" value="#{harvester.target.id}" />
                                    <div class="row">
                                        <div title="${harvester.target.name}" class="col-sm-6 text-left" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            <img src="https://www.google.com/s2/favicons?domain_url=${empty harvester.target.homepage ? harvester.target.url : harvester.target.homepage}"/>
                                            <span style="vertical-align: middle; margin-left: 5px;">${harvester.target.name}</span>
                                        </div>
                                        <div class="col-sm-3 text-right" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            <i class="fa fa-user fa-fw"/> ${userManager.getUser(harvester.target.owner).loginName}
                                        </div>
                                        <div class="col-sm-3 text-right">
                                            <i class="fa fa-fw ${harvester.target.visibility == 'public_visibility' ? 'fa-share' : 'fa-lock'}"/>
                                            <span>${localized['visibility' += harvester.target.visibility.label]}</span>
                                        </div>
                                    </div>
                                </h:link>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-10">${harvester.target.description}</div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-10 text-primary">
                                        <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
											<i class="fa fa-globe fa-fw"/>
                                            <a target="_blank" href="${empty harvester.target.homepage ? harvester.target.url : harvester.target.homepage}">
												${empty harvester.target.homepage ? harvester.target.url : harvester.target.homepage}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ui:fragment rendered="${harvester.owner == identity.account.id}">
                            <h:link styleClass="btn btn-primary" outcome="/user/editharvester?faces-redirect=true" includeViewParams="true">
                                <i class="fa fa-edit"/>
                            </h:link>
                        </ui:fragment>

                        <span style="margin-left: 10px;"/>

                        <ui:fragment rendered="${harvester.owner == identity.account.id}">
                            <h:commandLink styleClass="btn btn-default" action="#{harvesterAction.downloadHarvesterAsXml}">
                                <i class="fa fa-cloud-download"/>
                            </h:commandLink>
                        </ui:fragment>

                        <span style="margin-left: 10px;"/> <a class="btn btn-info"
                                                              role="button" data-toggle="collapse" href="#collapseScript"
                                                              aria-expanded="false" aria-controls="collapseScript"><i class="fa fa-code" /> ${localized.buttonHarvesterShowScript}</a>
                        <p/>
                        <div class="collapse" id="collapseScript">
                            <div class="well">
                                <pre id="editor" style="height: 600px;">${script}</pre>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"/>
                                <script>
                                    var editor = ace.edit("editor");
                                    editor.setTheme("ace/theme/tomorrow_night_blue");
                                    editor.getSession().setMode("ace/mode/javascript");
                                    editor.setReadOnly(true);
                                </script>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <h:panelGroup id="runList">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-sm-10">${localized.infoPanelRunRunning} ${localized['harvestFrequency' += harvester.frequency.label]}</div>
                                        <ui:fragment rendered="${harvester.source.incremental}">
                                            <div class="col-sm-1 text-right">
												<i class="fa fa-filter" title="${localized.inputRepositoryIncremental}"/>
                                            </div>
                                        </ui:fragment>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <ui:fragment rendered="${harvester.frequency != 'manually'}">
                                        <p>
                                            <h:outputText value="${localized.nextRun}: " rendered="#{harvester.frequency != 'manually'}"/>
                                            <h:outputText value="${harvester.nextHarvestDate}" rendered="#{harvester.frequency != 'manually'}">
                                                <f:convertDateTime type="both" dateType="short"
                                                                   timeType="short" timeZone="${appLocalization.timeZone}"
                                                                   locale="#{appLocalization.localeCode}"/>
                                            </h:outputText>
                                        </p>
                                    </ui:fragment>
                                    <h:panelGroup id="controls">
                                        <ui:fragment rendered="${harvester.owner == identity.account.id}">
                                            <div class="btn-group" role="group" aria-label="...">
                                                <ui:fragment rendered="${not harvesterAction.running}">
                                                    <h:commandLink styleClass="btn btn-primary" id="buttonNotRunningStart" action="#{harvesterAction.start}">
                                                        <i class="fa fa-play"/>
                                                    </h:commandLink>
                                                    <button id="buttonNotRunningPause" class="btn btn-primary" disabled="disabled">
                                                        <i class="fa fa-pause"/>
                                                    </button>
                                                    <button id="buttonNotRunningStop" class="btn btn-primary" disabled="disabled">
                                                        <i class="fa fa-stop"/>
                                                    </button>
                                                </ui:fragment>
                                                <ui:fragment rendered="${harvesterAction.running}">
                                                    <button id="buttonIsRunningStart" class="btn btn-primary" disabled="disabled">
                                                        <i class="fa fa-play"/>
                                                    </button>
                                                    <button id="buttonIsRunningPause" class="btn btn-primary" disabled="disabled">
                                                        <i class="fa fa-pause"/>
                                                    </button>
                                                    <h:commandLink styleClass="btn btn-primary" id="buttonIsRunningStop" action="#{harvesterAction.stop}">
                                                        <i class="fa fa-stop"/>
                                                    </h:commandLink>
                                                </ui:fragment>
                                            </div>
                                        </ui:fragment>
                                    </h:panelGroup>
                                </div>
                                <ul class="list-group" id="runListBox">
                                    <ui:repeat var="run" value="${harvesterAction.mostRecentRuns}">
                                        <h:link styleClass="list-group-item ${run.runState == 'running' ? 'list-group-item-success' : 'list-group-item-default'}" outcome="/public/showrun?faces-redirect=true">
                                            <f:param name="id" value="#{run.id}" />
                                            <h:outputText value="${run.startTime}">
                                                <f:convertDateTime type="both" dateStyle="short"
                                                                   timeStyle="short" locale="#{appLocalization.localeCode}"
                                                                   timeZone="${appLocalization.timeZone}"/>
                                            </h:outputText>
                                            <h:outputText value=" (${run.numberAdded + run.numberUpdated + run.numberRejected + run.numberSkipped}/${run.numberToProcess}"/>
                                            <ui:fragment rendered="${run.incremental}">
                                                <i class="fa fa-filter fa-fw" title="${localized.inputIncremental}"/>
                                            </ui:fragment>
                                            <h:outputText value=")"/>
                                            <span class="badge">${localized['runStatus' += run.runState.label]}</span>
                                        </h:link>
                                    </ui:repeat>
                                </ul>
                                <h:link outcome="/public/runs?faces-redirect=true">
                                    <f:param name="id" value="#{harvester.id}" />
                                    <div class="panel-footer">${localized.linkRunAll}</div>
                                </h:link>
                            </div>
                        </h:panelGroup>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h:panelGroup id="logging">
                            <ui:fragment rendered="${not empty harvester.runs}">
                                <div class="page-header">
                                    <h1>${localized.labelLogRecent}</h1>
                                </div>

                                <table class="table">
                                    <ui:repeat var="log" value="${harvesterAction.mostRecentLogs}">
                                        <tr class="${log.severity == 'info' ? '' : log.severity == 'warning' ? 'warning' : 'danger'}">
                                            <td>
                                                <i class="fa ${log.severity == 'info' ? 'fa-info-circle text-info' : log.severity == 'warning' ? 'fa-exclamation-triangle' : 'fa-minus-circle'}"/>
                                            </td>
                                            <td>${localized['severity' += log.severity.label]}</td>
                                            <td>${localized['serviceStage' += log.serviceStage.label]}</td>
                                            <td>${localized['category' += log.category.label]}</td>
                                            <td>${log.getShortenedMessage(150)}
                                                <ui:fragment rendered="${not empty log.attachment}">
                                                    <h:link styleClass="btn btn-info btn-xs" outcome="/public/log?faces-redirect=true">
                                                        <f:param name="id" value="#{log.id}" />
                                                        <f:param name="harvester" value="#{harvester.id}" />
                                                        <i class="fa fa-paperclip"/>
                                                    </h:link>
                                                </ui:fragment>
                                            </td>
                                            <td align="right"><h:outputText value="${log.created}">
                                                <f:convertDateTime type="both" dateStyle="default"
                                                                   timeStyle="default" timeZone="${appLocalization.timeZone}"
                                                                   locale="#{appLocalization.localeCode}"/>
                                            </h:outputText></td>
                                        </tr>
                                    </ui:repeat>
                                </table>
                            </ui:fragment>
                        </h:panelGroup>
                    </div>
                </div>

                <pf:poll interval="2" update="runList logging" />

            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>
