<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:pf="http://primefaces.org/ui">
<h:body role="document">
	<ui:composition template="../templates/main.xhtml">
		<ui:define name="metadata">
			<f:metadata>
				<f:viewParam name="id" value="#{runAction.id}" />
				<f:viewAction action="#{runAction.load}" />
			</f:metadata>
		</ui:define>

		<ui:define name="title">${localized.titleRunShow}</ui:define>

		<ui:define name="content">
			<h:form id="formPoll">
				<h:panelGroup id="pageHeader">
					<div class="page-header">
						<div class="row">
							<div class="col-md-8">
								<h1>
									${run.harvester.name}
								</h1>
							</div>

							<div class="col-md-4 text-right">
								<h2>
									<ui:fragment rendered="${run.runState == 'running'}">
										<span class="label label-success">${localized['runStatus' += run.runState.label]}</span>
									</ui:fragment>
									<ui:fragment rendered="${run.runState == 'finished'}">
										<span class="label label-info">${localized['runStatus' += run.runState.label]}</span>
									</ui:fragment>
									<ui:fragment rendered="${run.runState == 'error'}">
										<span class="label label-danger">${localized['runStatus' += run.runState.label]}</span>
									</ui:fragment>
									<ui:fragment rendered="${run.runState == 'interrupted'}">
										<span class="label label-default">${localized['runStatus' += run.runState.label]}</span>
									</ui:fragment>
								</h2>
							</div>
						</div>
					</div>
				</h:panelGroup>

				<h:panelGroup id="controls">
					<div class="row">
						<div class="col-md-2">
							<h:link styleClass="btn btn-info" outcome="/public/showharvester?faces-redirect=true">
								<f:param name="id" value="#{run.harvester.id}" />
								<i class="fa fa-eye" /> ${localized.titleHarvesterSingular}
							</h:link>
						</div>
						<div class="col-md-8 text-center">
							<p class="lead">
								${run.harvester.source.repositoryType.label}
								<i style="margin-left: 10px; margin-right: 10px;" class="fa fa-random" />
								${run.harvester.target.repositoryType.label}
							</p>
						</div>
						<div class="col-md-2 text-right">
							<ui:fragment rendered="${run.runState == 'running' and run.harvester.owner == identity.account.id}">
								<h:commandLink styleClass="btn btn-warning" action="#{runAction.stop}">
									<i class="fa fa-stop" /> ${localized.buttonMiscStop}
								</h:commandLink>
							</ui:fragment>
							<ui:fragment rendered="${run.runState != 'running' and run.harvester.owner == identity.account.id}">
								<h:commandLink styleClass="btn btn-danger" action="#{runAction.remove}">
									<i class="fa fa-remove" /> ${localized.buttonMiscDelete}
								</h:commandLink>
							</ui:fragment>
						</div>
					</div>
				</h:panelGroup>

				<h:panelGroup id="progress">
					<div class="row">
						<div class="col-md-3">
							<h:outputText value="${run.startTime}">
								<f:convertDateTime type="both" dateStyle="default"
									timeStyle="default" locale="#{appLocalization.localeCode}"
									timeZone="${appLocalization.timeZone}" />
							</h:outputText>
						</div>
						<div class="col-md-offset-2 col-md-2 text-center">
							<ui:fragment rendered="${run.incremental}">
								<i class="fa fa-filter" style="margin-right:5px;" title="${localized.inputIncremental}" />
							</ui:fragment>
							<ui:fragment rendered="${run.runState == 'running'}">
								<h:outputText value="${runAction.progress}%" />
							</ui:fragment>
							<ui:fragment rendered="${run.runState != 'running'}">
								<h:outputText
									value="${runAction.progress}% ${runAction.duration}" />
							</ui:fragment>
						</div>
						<div class="col-md-offset-2 col-md-3 text-right">
							<h:outputText value="${run.endTime}">
								<f:convertDateTime type="both" dateStyle="default"
									timeStyle="default" timeZone="${appLocalization.timeZone}"
									locale="#{appLocalization.localeCode}" />
							</h:outputText>
						</div>
					</div>
					<div class="progress" id="divProgress" title="${runAction.progress}%">
						<div
							class="progress-bar ${run.runState == 'running' ? 'progress-bar-success active' : 'progress-bar-default'}"
							role="progressbar" aria-valuenow="${runAction.progress}"
							aria-valuemin="0" aria-valuemax="100"
							style="width: ${runAction.progress}%">
							<span class="sr-only">${runAction.progress}%</span>
						</div>
					</div>
				</h:panelGroup>
				<div class="row">
					<div class="col-md-4">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-4">
									<i class="fa fa-info-circle fa-5x" />
									</div>
									<div class="col-xs-8 text-right">
										<h:panelGroup id="infosPanel">
											<p class="lead">
												<span style="font-size: 2em;">${runAction.infos}</span><br />${localized.labelLogSeverityInfoPlural}
											</p>
										</h:panelGroup>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-warning">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-4">
									<i class="fa fa-exclamation-triangle fa-5x" />
									</div>
									<div class="col-xs-8 text-right">
										<h:panelGroup id="warningsPanel">
											<p class="lead">
												<span style="font-size: 2em;">${runAction.warnings}</span><br />${localized.labelLogSeverityWarningPlural}
											</p>
										</h:panelGroup>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-danger">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-4">
									<i class="fa fa-minus-circle fa-5x" />
									</div>
									<div class="col-xs-8 text-right">
										<h:panelGroup id="errorsPanel">
											<p class="lead">
												<span style="font-size: 2em;">${runAction.errors}</span><br />${localized.labelLogSeverityErrorPlural}
											</p>
										</h:panelGroup>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<h:panelGroup id="counter">
						<div class="col-md-2">
							<div
								class="panel ${run.runState == 'running' ? 'panel-success' : 'panel-info'}">
								<div class="panel-heading">
									<span class="lead">${localized.labelRunProcessing}</span>
								</div>
								<div class="panel-body">
									<span class="lead">${run.numberToProcess}</span>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="panel ${run.runState == 'running' ? 'panel-success' : 'panel-info'}">
								<div class="panel-heading">
									<span class="lead">${localized.labelRunDeleted}</span>
								</div>
								<div class="panel-body">
									<span class="lead">${run.numberDeleted}</span>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div
								class="panel ${run.runState == 'running' ? 'panel-success' : 'panel-info'}">
								<div class="panel-heading">
									<span class="lead">${localized.labelRunAdded}</span>
								</div>
								<div class="panel-body">
									<span class="lead">${run.numberAdded}</span>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="panel ${run.runState == 'running' ? 'panel-success' : 'panel-info'}">
								<div class="panel-heading">
									<span class="lead">${localized.labelRunUpdated}</span>
								</div>
								<div class="panel-body">
									<span class="lead">${run.numberUpdated}</span>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="panel ${run.runState == 'running' ? 'panel-success' : 'panel-info'}">
								<div class="panel-heading">
									<span class="lead">${localized.labelRunSkipped}</span>
								</div>
								<div class="panel-body">
									<span class="lead">${run.numberSkipped}</span>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div
								class="panel ${run.runState == 'running' ? 'panel-success' : 'panel-info'}">
								<div class="panel-heading">
									<span class="lead">${localized.labelRunRejected}</span>
								</div>
								<div class="panel-body">
									<span class="lead">${run.numberRejected}</span>
								</div>
							</div>
						</div>
					</h:panelGroup>
				</div>
				<hr/>
				<h:panelGroup id="logTable">
					<h:dataTable class="table table-striped"
						columnClasses="col-md-1,col-md-1,col-md-1,col-md-7,col-md-2 text-right"
						value="${runAction.newestLogs}" var="log">
						<h:column>
							<i class="fa ${log.severity == 'info' ? 'fa-info-circle text-info' : log.severity == 'warning' ? 'fa-exclamation-triangle text-warning' : 'fa-minus-circle text-danger'}" /> #{log.severity.label}
						</h:column>
						<h:column>
							${localized['serviceStage' += log.serviceStage.label]}
						</h:column>
						<h:column>
							${localized['category' += log.category.label]}
						</h:column>
						<h:column>
							${log.message}
							<ui:fragment rendered="${not empty log.attachment}">
								<h:link styleClass="btn btn-info btn-xs" outcome="/public/log?faces-redirect=true">
									<f:param name="id" value="#{log.id}" />
									<f:param name="harvester" value="#{run.harvester.id}" />
									<i class="fa fa-paperclip" />
								</h:link>
							</ui:fragment>
						</h:column>
						<h:column>
							${log.readableTimeStamp}
						</h:column>
					</h:dataTable>
				</h:panelGroup>

				<p />

				<pf:poll interval="2" update="pageHeader logTable counter progress controls infosPanel warningsPanel errorsPanel" listener="#{runAction.refresh}" />

			</h:form>

		</ui:define>

	</ui:composition>
</h:body>
</html>